# Ignore the target folderwhere build artifacts are stored
/target/
/backend/target/
/foreground-script/target/
/background-script/target/
/messages/target/


# Ignore the pkg directory that will be created by wasm-ack
/pkg/

# Ignore backup files created by some editors
**/*.rs.bk

# Ignore macOS-specific system files
.DS_Store

# Ignore node_modules if you have Node.js dependencies (you might add this later)
/node_modules/

#Ignore the file about terminal
/terminal_commands.txt
